@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/fonts/PlayfairDisplay-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/src/fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}