@mixin d-flex($direction: row, $wrap: nowrap, $justify: flex-start, $align: stretch){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == "tablet" {
        @media (max-width: 1200px) { @content; }
    } @else if $breakpoint == "mobile" {
        @media (max-width: 700px) { @content; }
    }
}