@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}