:root{
    --color-primary: #458FF6;
    --color-primary-dark: #2E4E92;
    --color-primary-light: #93C1F9;
    --color-secondary: #6888C8;

    --color-text: #7D7987;
    --color-text-dark: #462E6A;
    --color-text-darker: #3C567B;
    --color-white: #fff;
    --color-dark: #000;

    --color-bg-light: #F3FBFF;

    --font-family-main: 'Mulish', sans-serif;
}