@use 'normalize';
@use 'mixins';
@use 'globals';
@use 'variables';

@use 'blocks/header';
@use 'blocks/intro'; 
@use 'blocks/services';
@use 'blocks/info';
@use 'blocks/app';
@use 'blocks/doctor-info';
@use 'blocks/registration';
@use 'blocks/footer';  