.main{
    &__app{
        margin-top: 50px;

        &-img{
            margin-top: 60px;

            @media(max-width: 940px){
                width: 400px;
                height: auto;
            }

            @media(max-width: 700px){
                display: none;
            }
        }

        .wrapper-flex{
            gap: 70px;

            @media(max-width: 700px){
                gap: 30px;
            }
        }
    }
}