@use '../mixins' as *;

.main{
    &__doctor-info{
        margin-top: 100px;
        position: relative;    

        &-title{
            @media(max-width: 560px){
                margin-top: 60px !important;
            }
        }

        &-img{
            order: -1;
            margin-top: 30px;

            @media(max-width: 940px){
                width: 400px;
                height: auto;
            }

            @media(max-width: 700px){
                width: 300px;
                height: auto;
            }

            @media(max-width: 560px){
                display: none;
            }
        }

        &-button{
            @include button-settings(var(--color-primary) !important, var(--color-bg-light) !important); 
        }

        &::after{
            height: 100%;
            @include wrapper-container(var(--color-bg-light));
        }

        .wrapper-flex{
            gap: 50px;
            padding: 0 30px;
        }
    }
}