@use '../mixins' as *;

.footer{
    display: grid;
    grid: auto / auto 65%;
    position: relative;
    margin-top: 100px;

    @media(max-width: 800px){
        grid: auto / auto 80%;
    }

    @media(max-width: 560px){
        display: block;
    }

    &::after{
        height: 100px;
        @include wrapper-container(var(--color-secondary));
    }

    &__logo{

        &-block{
            display: inline-block;
        }

        &-text{
            color: var(--color-white);
            font-size: 24px;
            font-weight: 700;
            padding: 30px 0;

            @media(max-width: 800px){
                font-size: 18px;
            }

            @media(max-width: 560px){
                display: none;
            }
        }
    }

    &__list{

        &-item{
            padding: 35px 30px;

            @media(max-width: 560px){
                padding: 35px 15px;
            }
        }
    }

    &__link{
        color: var(--color-white);
    }
}