.main{
    &__info{
        margin-top: 30px;
        &-img{
            order:  -1;
            margin-top: 50px;

            @media(max-width: 940px){
                width: 400px;
                height: auto;
            }

            @media(max-width: 700px){
                display: none;
            }
        }

        .wrapper-flex{
            gap: 80px;

            @media(max-width: 700px){
                gap: 30px;
            }
        }

    }
}