@use '../mixins' as *;

.main{
    &__services{
        width: 100vw;
        background-color: var(--color-bg-light);
        margin-left: calc(-50vw + 50%);
        text-align: center;

        .wrapper-container{
            @include container-settings;
        }

        &-title{
            text-align: center;
            margin-top: 150px;  
            padding-top: 60px;    
        }

        &-text{
            text-align: center;
            padding-top: 20px;
        }

        &-button{
            display: inline-block;
            width: 280px;
            margin: 50px 0;
            @include button-settings(var(--color-primary), var(--color-bg-light));
        }

    }

    &__card{
        width: 320px;
        background-color: var(--color-white);
        padding: 20px;

        &-title{
            padding: 10px;
        }

        &-text{
            padding: 20px;
            text-align: start;
        }

        &-img{
            display: inline-block;
            width: 80px;
            height: 90px;
        }

        &-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;
            margin-top: 100px;

            @media(max-width: 1060px){
                justify-content: center;
                gap: 50px;
            }
        }
    }
}