body{
    background-color: var(--background-color);
    color: var(--main-color); 
    overflow-x: hidden;
    @include font-size(1);
}

.container{
    @include container;
}

.list{
    display: inline-block;
    list-style-type: none;
}

.item{
    display: inline-block;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

h1{
    @include font-size(4);
}

h2{
    @include font-size(3);
}

h3{
    @include font-size(2) 
}

button{
    cursor: pointer;
}