body{
    background-color: var(--background-color);
    color: var(--main-color); 
    overflow-x: hidden;
    @include font-size(1);

    @media(max-width: 700px){
        @include font-size(0.7);
    }

    @media(max-width: 430px){
        @include font-size(0.5);
    }
}

.container{
    @include container;
}

.list{
    display: inline-block;
    list-style-type: none;
}

.item{
    display: inline-block;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

h1{
    @include font-size(4);

    @media(max-width: 800px){
        @include font-size(3);
    }
}

h2{
    @include font-size(3);

    @media(max-width: 800px){
        @include font-size(2);
    }
}

h3{
    @include font-size(2);
    
    @media(min-width: 800px){
        @include font-size(1.4);
    }
}

button{
    cursor: pointer;
}