body{
    background-color: #1D2F30;
    color: #FFFFFF; 
    font-size: 16px;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.list{
    display: inline-block;
    list-style-type: none;
}

.item{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px; 
}

button{
    cursor: pointer;
}