@mixin container{
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

@mixin research-icon-settings{
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    margin-left: 5px;
}

@mixin font-size($coeff){
    font-size: calc(16px * $coeff);
}

@mixin header-interactive{
    background-color: var(--background-color);
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

@mixin focus-element($color){
    outline: none;
    border: 1px solid $color;
}

@mixin filter-settings($url){
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    z-index: -1;
}

@mixin button-hover($color, $background){
    background-color: $background;
    color: $color;
}

@mixin button-focus($border-color){
    outline: 2px solid $border-color;
    outline-offset: 2px;
}

@mixin button-active($color, $background){
    background-color: $background;
    color: $color;
    border: none;
    outline: none;
}

@mixin button-disabled($color){
    border: 1px solid $color;
    color: $color;
}

@mixin input-hover($background){
    background-color: $background;

    &::placeholder{
        color: var(--main-color);
    }
}

@mixin input-focus($outline-color){
    outline: 2px solid $outline-color;
    outline-offset: 2px;
}

@mixin input-active($background, $color){
    background-color: $background;
    border: none;
    outline: none;

    &::placeholder{
        color: $color;
    }
}

@mixin input-disabled($background, $color){
    background-color: $background;
    border: none;
    outline: none;

    &::placeholder{
        color: $color;
    }
}

@mixin social-media-position($x, $y){
    background-position: $x $y;
    width: 24px;
    height: 24px;
}