:root{
    --main-color: #fff;
    --background-color: #1D2F30;
    --dark-color: #0B1919;
    --primary-green: #BAE249;
    --green-text: #506829;
    --green-active: #688B05;
    --green-focus: #83A440;
    --green-hover: #91AC46;
    --grey-color: #899D9D;
}