*{
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    padding: 0;
}

.container{
    width: 100%;
    padding: 0 10%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: #fff;
}

.header__logo{
    margin-top: 22px;
}

.header__navigation ul{
    display: flex;
    margin-top: 41px;
}

.header__navigation ul li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-right: 35px;
}

.header__navigation-active{
    border-bottom: 2px solid #fff;
}

.header__languages{
    font-size: 15px;
    font-weight: 600;
    margin-top: 41px;
}

.header__languages-active{
    color: #B7B7B7;
    margin-right: 8px;
}

.main__intro{
    background-image: url(./images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    color: #fff;
    box-shadow: 0 4px 4px #000;
}

.main__intro h1{
    padding-top: 25%;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
}

.main__intro button{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #DB2512;
    padding: 9px 48px;
    border: none;
}

.main__information{
    position: relative;
    bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.universal__block{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 15px #000;
    padding: 25px 10px;
    margin-right: 20px;
    flex: 1 1 30%;
}

/* .contact_block:last-child{
    margin-right: 0;
} */

.information_block > img{
    width: 25px;
    height: 25px;
}

:is(.information_block, .universal__block) > p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    padding: 15px 0;
}

:is(.information_block, .universal__block) > span{
    font-size: 18px;
    font-weight: 400;
    color: #B7B7B7;
}

.services__title{
    font-size: 30px;
    font-weight: 700;
}

.main__services{
    margin-top: 40px;
}

.main__services > a{
    display: block;
    letter-spacing: 2.3px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px;
}

.services__container{
    display: flex;
    justify-content: space-between;
}

.services__block{
    flex: auto;
    margin-right: 25px;
}

.services__block > img{
    width: 102%; 
    height: 350px; 
    object-fit: cover;
}

.services__block > h3{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.5;
    padding-top: 10px;
}

.main__aboutUs{
    margin-top: 100px;
    height: 550px;
    color: #fff;
    background-color: #171616;
}

.main__aboutUs img{
    width: 50%;
    float: right;
    height: 400px;
    object-fit: cover;
    padding: 60px 30px;
    margin-top: 60px;
}

.aboutUs__title{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 4.5px;
    line-height: 1.5;
    padding: 120px 0 40px;
}

.aboutUs__information{
    color: #B7B7B7;
    font-weight: 600;
    letter-spacing: 3.5px;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 30px;
}

.aboutUs__information ~ a{
    font-size: 16px;
    letter-spacing: 2.7px;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}

.main__workProcess{
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.workProcess__slogan-big{
    font-size: 120px;
    color: #000;
    line-height: 1.5;
    font-weight: 900;
}

.workProcess__title{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 6px;
}

.workProcess__container{
    margin-top: 90px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.main__contact{
    background-color: #171616;
    color: #fff;
    padding: 100px 0;
}

.contact__title{
    font-size: 30px;
    font-weight: 700;
}

.main__contact input, textarea{
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #171616;
    color: #fff;
}

.main__contact textarea{
    height: 170px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.main__contact button{
    color: #fff;
    background-color: #DB2512;
    border: none;
    font-size: 14px;
    padding: 10px 80px;
    margin-top: 20px;
}

form{
    display: grid;
    grid: repeat(2, 60px) 180px / repeat(2, 220px);
    gap: 30px;
}

.footer{
    position: relative;
}

.footer > p{
    padding: 40px 0;
}

.social_media{
    position: absolute;
    right: 10%;
    bottom: 33px;
}

.social_media > span{
    padding: 0 5px;
}

span.icon a{
    display: inline-block;
    text-indent: -9999px;
    background-image: url(./images/css_sprites.png);
    background-repeat: no-repeat;
}

span.facebook a{
    background-position: -10px -10px;
    width: 25px;
    height: 25px;
}

span.instagram a{
    background-position: -55px -10px;
    width: 25px;
    height: 25px;
}

span.linkedin a{
    background-position: -10px -55px;
    width: 25px;
    height: 25px;
}

@media (max-width: 1000px) {
    .main__information{
        display: block;
    }

    .universal__block{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .workProcess__container{
        display: block;
    }

    .services__block > img{
        width: 102%; 
        height: 250px; 
        object-fit: cover;
    }
}

@media (max-width: 850px){

    .header__logo img{
        width: 110px;
        height: 60px;
    }

    .header__navigation ul li{
        font-size: 12px;
        margin-right: 20px;
    }

    .services__container{
        display: block;
    }

    .services__block > img{
        height: 300px; 
    }

    .aboutUs__title{
        font-size: 20px;
    }

    .aboutUs__information{
        font-size: 10px;
    }

    .aboutUs__information ~ a{
        font-size: 12px;
    }

    .workProcess__slogan-big{
        font-size: 90px;
    }
    
    .workProcess__title{
        font-size: 30px;
    }
    
}

@media (max-width: 620px){
    .header__logo img{
        width: 95px;
        height: 45px;
    }

    .header__navigation ul li{
        font-size: 10px;
        margin-right: 15px;
    }

    .main__aboutUs img{
        display: none;
    }

    .workProcess__slogan-big{
        font-size: 70px;
    }
    
    .workProcess__title{
        font-size: 25px;
    }

    form{
        display: grid;
        grid: repeat(4, 60px) 180px / 100%;
        gap: 30px;
    }

    .main__contact textarea{
        height: 170px;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
}

@media (max-width: 500px){

    .header__logo img{
        margin-top: 15px;
        width: 60px;
        height: 25px;
    }

    .header__navigation ul li{
        font-size: 8px;
        margin-right: 8px;
    }

    .main__intro h1{
        padding-top: 25%;
        font-size: 30px;
    }

    .workProcess__slogan-big{
        font-size: 50px;
    }

    .workProcess__title{
        font-size: 20px;
    }
}




