.main{
    &__donate{
        position: relative;
        width: 100vw;
        height: 450px;
        margin-left: calc(-50vw + 50%);
        margin-top: 50px;

        &::before{
            @include filter-settings(url(../images/donate-background.png));
        }

        &-wrapper{
            @include container;
        }

        &-title{
            padding-top: 30px;
        }

        &-text{
            max-width: 635px;
        }

        &-form{
            display: flex;
            flex-direction: column;
            max-width: 350px;

            &-name{
                margin-top: 15px;
                padding: 10px;
                border: none;

                &:hover{
                    @include input-hover(var(--grey-color));
                }

                &:focus{
                    @include input-focus(var(--green-focus));
                }

                 &:active{
                    @include input-active(var(--grey-color), var(--dark-color));
                }

                &:disabled{
                    @include input-disabled(var(--grey-color), var(--dark-color));
                }

            }

            &-email{
                margin-top: 15px;
                padding: 10px;
                border: none;

                &:hover{
                    @include input-hover(var(--grey-color));
                }

                &:focus{
                    @include input-focus(var(--green-focus));
                }

                 &:active{
                    @include input-active(var(--grey-color), var(--dark-color));
                }

                &:disabled{
                    @include input-disabled(var(--grey-color), var(--dark-color));
                }
            }

            &-button{
                margin-top: 15px;
                padding: 10px;
                border: none;
                background-color: var(--primary-green);
                color: var(--dark-color);
                font-weight: bold;
                max-width: 175px;

                &:hover{
                    @include button-hover(var(--dark-color), var(--green-hover));
                }

                &:focus{
                    @include button-focus(var(--green-focus));
                }

                &:active{
                    @include button-active(var(--dark-color), var(--green-active));
                }

                &:disabled{
                    @include button-disabled(var(--dark-color));
                    background-color: var(--grey-color);
                }
            }
        }
    }
}