.footer {
    height: 80px;
    text-align: center;
    
    &__social-media {
        display: block;
        padding: 25px;
    }

    &__youtube,
    &__inst,
    &__facebook,
    &__twitter {
        display: inline-block;
        text-indent: -9999px;
        background-image: url(../images/social-media_sprites.png);
        background-repeat: no-repeat;
        margin: 0 20px;
        
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__youtube {
        @include social-media-position(-10px, -10px);
    }

    &__inst {
        @include social-media-position(-54px, -10px);
    }

    &__facebook {
        @include social-media-position(-10px, -54px);
    }

    &__twitter {
        @include social-media-position(-54px, -54px);
    }
}