.footer {
    height: 80px;
    text-align: center;
    
    &__social-media {
        display: block;
        padding: 25px;
    }

    &__youtube,
    &__inst,
    &__facebook,
    &__twitter {
        display: inline-block;
        text-indent: -9999px;
        background-image: url(../images/social-media_sprites.png);
        background-repeat: no-repeat;
        margin: 0 20px;
        
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__youtube {
        background-position: -10px -10px;
        width: 24px;
        height: 24px;
    }

    &__inst {
        background-position: -54px -10px;
        width: 24px;
        height: 24px;
    }

    &__facebook {
        background-position: -10px -54px;
        width: 24px;
        height: 24px;
    }

    &__twitter {
        background-position: -54px -54px;
        width: 24px;
        height: 24px;
    }
}