.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &__logo{
        width: 65px;
        height: 20px;

        @media(max-width: 700px){
            width: 35px;
            height: 12px;
        }

        @media(max-width: 460px){
            display: none;
        }
    }

    &__navigation{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    &__item{
        padding: 0 20px;

        @media(max-width: 700px){
            padding: 0 10px;
        }
    }

    &__link{
        &:hover{
            color: var(--primary-green);
        }

        &:focus{
            @include focus-element(var(--green-focus));        
        }

        &:active{
            color: var(--green-active);
            border: none;
        }
    }

    &__search{
        @include header-interactive;

        @media(max-width: 700px){
            width: 35px;
            height: 12px;
        }

        &:focus{
            @include focus-element(var(--green-focus));          
        }
    }

    &__exit{
        @include header-interactive;

        @media(max-width: 700px){
            width: 35px;
            height: 12px;
        }

        &:focus{
            @include focus-element(var(--green-focus));     
        }
    }
}