.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    &__logo{
        width: 65px;
        height: 20px;
    }

    &__navigation{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    &__item{
        padding: 0 20px;
    }

    &__link{
        &:hover{
            color: #BAE249;
        }

        &:focus{
            outline: none;
            border: 1px solid #83A440;          
        }

        &:active{
            color: #688B05;
            border: none;
        }
    }

    &__search{
        background-color: #1D2F30;
        border: none;
        padding: 0 10px;
        cursor: pointer;

        &:focus{
            outline: none;
            border: 1px solid #83A440;          
        }
    }

    &__exit{
        background-color: #1D2F30;
        border: none;
        padding: 0 10px;
        cursor: pointer;

        &:focus{
            outline: none;
            border: 1px solid #83A440;      
        }
    }
}