.main{

    .wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__container{
        &-card{
            &-img{
                display: flex;
                padding: 30px;
                background-color: var(--dark-color);
                height: 180px;
            }
        }
    }

    &__card{
        border: 1px solid var(--dark-color);
        width: 250px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title{
            padding: 15px 0 0 15px;
        }

        &-description{
            color: var(--grey-color);
            padding: 15px;
            flex-grow: 1;
        }

        &-button{
            margin: 0 15px 15px 15px;
            background-color: var(--background-color);
            color: var(--primary-green);
            border: 1px solid var(--primary-green);

            &:hover{
                @include button-hover(var(--dark-color), var(--primary-green));
            }

            &:focus{
                @include button-focus(var(--green-focus));
            }

            &:active{
                @include button-active(var(--dark-color), var(--green-active));
            }

            &:disabled{
                @include button-disabled(var(--grey-color));
            }
        }
    }

    &__slider{
        display: flex;
        justify-content: center;
        margin-top: 30px;

        &-button{
            background-color:  var(--background-color);
            border: none;
            padding: 0 20px;
        }
    }
}