.main{
    &__intro{
        position: relative;
        width: 100vw;
        height: 500px;
        margin-left: calc(-50vw + 50%);

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/intro-background.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: brightness(0.6);
            z-index: -1;
        }

        &-wrapper{
            max-width: 1200px;
            padding: 0 40px;
            margin: 0 auto;
        }
    }

    &__title{
        line-height: 1.2;
        padding-top: 110px;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }

    &__text{
        padding-top: 30px;
        max-width: 635px;
    }

    .intro{
        &__research{
            &-block{
                padding-top: 30px;
            }

            &-link{
                color: #BAE249;

                &:focus{
                    outline: none;
                    border: 2px solid #83A440;    
                }
            }

            &-icon{
                display: inline-block;
                width: 40px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
}