.main{
    &__intro{
        position: relative;
        width: 100vw;
        height: 500px;
        margin-left: calc(-50vw + 50%);

        &::before{
            @include filter-settings(url(../images/intro-background.png));
        }

        &-wrapper{
            @include container;
        }
    }

    &__title{
        line-height: 1.2;
        padding-top: 110px;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }

    &__text{
        padding-top: 30px;
        max-width: 635px;

        @media(max-width: 500px){
            display: none;
        }
    }

    .intro{
        &__research{
            &-block{
                padding-top: 30px;
            }

            &-link{
                color: var(--primary-green);

                &:focus{
                    @include focus-element(var(--green-focus)); 
                }
            }

            &-icon{
                @include research-icon-settings;
            }
        }
    }
}