.main{
    &__newInfo{
        display: grid;
        grid: auto auto / 60vw 25vw;
        gap: 30px;

        &-title{
            grid-column: 1 / 3;
            margin-top: 40px;
        }

        &-block{
            background-color: #BAE249;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        &-subtitle{
            color: #1D2F30;
            line-height: 1.2;
        }

        &-text{
            color: #506829;
            flex-grow: 1;
        }
    }

    &__research{
        &-link{
            color: #0B1919;
        }

        &-icon{
            display: inline-block;
            width: 40px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}