.main{
    &__newInfo{
        display: grid;
        grid: auto auto / auto 30vw;
        gap: 30px;

        @media(max-width: 950px){
            display: flex;
            flex-direction: column;
        }

        &-title{
            grid-column: 1 / 3;
            margin-top: 40px;
        }

        &-block{
            background-color: var(--primary-green);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        &-subtitle{
            color: var(--background-color);
            line-height: 1.2;
        }

        &-text{
            color: var(--green-text);
            flex-grow: 1;
        }
    }

    &__research{
        &-link{
            color: var(--background-color);
        }

        &-icon{
            @include research-icon-settings;
        }
    }
}